<!DOCTYPE html>
<html>
<% include head %>
<body>
	<div id="note">
		Os dados apresentados são apenas uma representação de quantos cliques ocorreram em cada uma das opções. Sendo passíveis de falha são apenas uma representação da opinião geral dos participantes.
	</div>
	<div class="container">
		<div class="row text-center question-container">
			<h1 class="question">
				Crie a sua questão ou vote em uma existente!
			</h1>
			<div class="fb-share-button" 
				data-href="http://prooucontra.com.br" 
				data-layout="button_count">
			</div>
		</div>
		<div class="row question-form">
			<form class="form-group" action="/question" method="POST">
				<input type="hidden" name="_csrf" value="<%= csrf %>">
				<div class="form-group col-md-offset-3 col-sm-6">
					<input type="text" class="form-control" name="question" placeholder="Você é pro ou contra?">
				</div>
				<button type="submit" class="btn btn-default">Enviar</button>
			</form>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<ul class="list-group">
				  <% for (var i = 0; i < questions.length; i=i+2) { %>

				  		<li class="list-group-item">
			        		<a href="/vote/<%= questions[i].hash %>"><%= questions[i].text %></a>
				    		<span class="badge badge-yes"><%= questions[i].yes %></span>
				    		<span class="badge badge-no"><%= questions[i].no %></span>
				  		</li>
					<% } %>
				</ul>
		    </div>
			<div class="col-sm-6">
				<ul class="list-group">
				  <% for (var i = 1; i < questions.length; i=i+2) { %>
				  		<li class="list-group-item">
			        		<a href="/vote/<%= questions[i].hash %>"><%= questions[i].text %></a>
				    		<span class="badge badge-yes"><%= questions[i].yes %></span>
				    		<span class="badge badge-no"><%= questions[i].no %></span>
				  		</li>
					<% } %>
				</ul>
		    </div>
		</div>
	</div>
	<% include scripts %>
	<script type="text/javascript">
		(function(){
		})();
	</script>
</body>
</html>
