<!DOCTYPE html>
<html>
<% include head %>
<body>
<% include nav %>
	<div class="container">
		<div class="row text-center question-container">
			<h1 class="question">
				Crie a sua questão ou vote em uma existente!
			</h1>
			<div class="fb-share-button" 
				data-href="<%=url%>" 
				data-layout="button_count">
			</div>
		</div>
		<div class="row question-form">
			<form class="form-group" action="/question" method="POST">
				<input type="hidden" name="_csrf" value="<%= csrf %>">
				<div class="form-group col-md-offset-3 col-sm-6 input-field text-center">
					<input type="text" class="form-control" name="question" placeholder="Digite aqui a questão que deseja colocar em pauta" required>
					<button type="submit" class="btn indigo accent-2">Criar questão</button>
				</div>
			</form>
		</div>
		<div class="row">
			<% for (var i = 0; i < questions.length; i++) { %>
				<div class="col-sm-6">
					<div class="card white-text">
			            <a class="card-content blue-grey"  href="/vote/<%= questions[i].hash %>">
			              <span class="card-title"><%= questions[i].text %></span>
			            </a>
			            <div class="clearfix">
					    	<a href="/vote/<%= questions[i].hash %>" class="col-xs-6 text-center card-link green"><%= questions[i].yes %></a>
					    	<a href="/vote/<%= questions[i].hash %>" class="col-xs-6 text-center card-link red"><%= questions[i].no %></a>
			            </div>
			        </div>
		    	</div>
			<% } %>
		</div>
	</div>
	<div id="note">
		Os dados apresentados são apenas uma representação de quantos cliques ocorreram em cada uma das opções. Sendo passíveis de falha são apenas uma representação da opinião geral dos participantes.
	</div>
	<% include footer %>
	<% include scripts %>
	<script type="text/javascript">
		(function(){
		})();
	</script>
</body>
</html>
