<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<meta property="og:url"           content="http://prooucontra.com.br/vote/<%=hash%>" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Pró ou Contra - <%=question%>" />
	<meta property="og:description"   content="Acompanhe a opinião das pessoas sobre os mais variados assuntos e contribua!" />
	<meta property="og:image"         content="http://prooucontra.com.br/images/prooucontra.com.br.png?7" />

	<meta name="author" content="Deixe a Internet Livre!">
	<meta name="description" content="Acompanhe a opinião das pessoas sobre os mais variados assuntos e contribua!">
	<meta name="keywords" content="votação, votacao, impeachment, opinião, dilma, senado, camara, plenario, comissão, especial, internet, público, pública, ministério, sessão, voto, quem, como, economia, brasil, brasilia, parlamento, pt, cunha, temer">
	<meta name="robots" content="index, follow">


	<title>Pró ou Contra - <%=question%></title>
	<% include styles %>

</head>
<body class="<%= cookie %>">
<% include nav %>
	<body class="<%= cookie %>">

	<div class="container">
		<div class="row text-center">
			<h1>
				<small><%=question%></small>
				<br>
				Você votou: <%= voted %>!
			</h1>
			<!-- Your share button code -->
			<div class="fb-share-button" 
				data-href="http://prooucontra.com.br/vote/<%=hash%>" 
				data-layout="button_count">
			</div>

		</div>
		<div class="row">
			<div class="col-xs-6 text-center">
				<div id="pros" class="result-counter"><%= pros %><br>prós</div>
			</div>
			<div class="col-xs-6 text-center">
				<div id="cons" class="result-counter"><%= cons %><br>contras</div>
			</div>
		</div>

		<div id="result-container">
			<canvas id="result" width="400" height="400"></canvas>
			<br>
			<div class="text-center">
				<a download="prooucontra.com.br.png" id="save" class="btn blue-grey lighten-4" href="">Salvar imagem</a>
			</div>
		</div>
	</div>
	<% include footer %>
	<% include scripts %>
	<% include scripts-vote %>

	<script type="text/javascript">
		(function(){
			$(document).ready(function(){
				renderChart();
				$('body').addClass('done');
			});
		})();
	</script>


</body>
</html>
