<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<meta property="og:url"           content="<%=url%>/vote/<%=hash%>" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Pró ou Contra - <%=question%>" />
	<meta property="og:description"   content="Acompanhe a opinião das pessoas sobre os mais variados assuntos e contribua!" />
	<meta property="og:image"         content="<%=url%>/images/og/<%=hash%>.png?<%=pros+cons%>" />

	<meta name="author" content="Deixe a Internet Livre!">
	<meta name="description" content="Acompanhe a opinião das pessoas sobre os mais variados assuntos e contribua!">
	<meta name="keywords" content="votação, votacao, impeachment, opinião, dilma, senado, camara, plenario, comissão, especial, internet, público, pública, ministério, sessão, voto, quem, como, economia, brasil, brasilia, parlamento, pt, cunha, temer">
	<meta name="robots" content="index, follow">


	<title>Pró ou Contra - <%=question%></title>
	<% include styles %>

</head>
<body>
<% include nav %>

	<div class="container">
		<div class="row text-center">
			<h1 class="question">
				<%= question %>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-6 text-center">
				<a href="#" class="button" data-action="yes">pró</a>
			</div>
			<div class="col-xs-6 text-center">
				<a href="#" class="button" data-action="no">contra</a>
			</div>
		</div>
	</div>
	<% include footer %>
	<% include scripts %>
	<% include scripts-vote %>
	<script type="text/javascript">
		(function(){
			$(document).ready(function(){
				if (document.cookie.replace(/(?:(?:^|.*;\s*)<%=hash%>\s*\=\s*([^;]*).*$)|^.*$/, "$1")) {
					window.location.reload();
				}
			});

			$(document).one('click', '[data-action="yes"], [data-action="no"]', function(){				 
				document.cookie = '<%=hash%>='+$(this).data('action')+'; expires=Fri, 1 Jan 2999 00:00:01 UTC; path=/'

				$('body').addClass('done');
				$('body').addClass($(this).data('action'));
				$.post('/vote/<%=hash%>',{vote: $(this).data('action'), '_csrf': '<%= csrf %>'});

				ga('send', 'event','<%= question %>', $(this).data('action'));

				window.location="/vote/<%=hash%>";
			});
		})();
	</script>
</body>
</html>
